.question-group {
  margin-bottom:20px;
  background:#EEE;
  padding:20px;
}
.question-group label {
  font-size:18px;
}
.answer-group {
  background:#EEE;
  padding:20px;
}
.answer {
  padding-bottom: 20px;
}
.question-group label {
  font-size:18px;
}
