.question-group {
  margin-bottom:20px;
  background:#EEE;
  padding:20px;
}
.question-group label {
  font-size:18px;
}
.answer-group {
  margin-bottom:20px;
  margin-left:100px;
  background:#EEE;
  padding:20px;
}
.question-group label {
  font-size:18px;
}
